@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root {
    --cor0:#7EDEAB;
    --cor1:#00E86c;
    --cor2:#00C45C;
    --cor3:#009144;
    --cor4:#002612;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    
}
header {
 background-image: linear-gradient(to top, var(--cor3), var(--cor0));
 text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-top: 12px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
}
header > p {
    color: white;
    text-align: center;
}

nav {
    background-color: var(--cor3);
    padding: 10px;
    
}
nav a {
    color: var(--cor1);
    padding: 4px;

}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.342);
    padding: 7px;
    border-radius: 3px 3px 3px 3px;
    transition: 320ms;
    
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bg-linear {
    background-image: linear-gradient(to right, var(--cor2), white);
    padding: 2px;
}

p {
    text-align: justify;
}

 mark {
     background-color: var(--cor1);
     padding: 1px;
 }
a {
    text-decoration: none;
    color: var(--cor3);
    
}
a.link:hover {
text-decoration: underline;
color: var(--cor4);

}

strong {
    color: var(--cor3);
}

main    h1 {
    color: var(--cor3);
    font-family: var(--fonte-android);

}
main  h2 {
    font-family: var(--fonte-android);
    font-weight: bold;
    
}

main p {
    line-height: 2.0em;
}

main  img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor4);
    color: white;
padding: 10px;

}
footer p {
    text-align: center;
}