@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root {
    --cor0:#7EDEAB;
    --cor1:#00E86c;
    --cor2:#00C45C;
    --cor3:#009144;
    --cor4:#002612;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header {
 background-color: var(--cor3);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}
header > p {
    color: white;
}

nav {
    background-color: var(--cor3);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main    h1 {
    color: var(--cor3);
    font-family: var(--fonte-android);

}
main  h2 {
    font-family: var(--fonte-android);
}

main  img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor4);
    color: white;

}